.wrap {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.header {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav {
  background-color: #e5efef;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.nav.fixed {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
}

.nav a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}

.nav a:hover {
  color: #0c8084;
}

.address {
  font-size: 14px;
}

.address a {
  text-decoration: none;
  color: black;
}

.footer {
  background: #0c8084;
  color: white;
  margin-top: 20px;
  padding: 10px;
}

.cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 17px;
  flex-wrap: wrap;
}

.contacts {
  text-align: center;
}

#iconV,
#iconOd,
#iconWhats {
  font-size: 25px;
}

#iconWhats {
  color: green;
}

.addressInFoot a {
  text-decoration: none;
  color: white;
}

.createBy {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.menu-button {
  display: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  background-color: #0c8084;
  color: white;
  border: none;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
  }

  .nav.open {
    display: flex;
    margin-top: -5px;
    /* align-content: center; */
  }
  .nav.open a {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    width: 70px;
    border-bottom: 1px solid #32a1ce;
  }

  .menu-button {
    display: block;
  }
}

.list_doctors {
  padding: 10px 0 20px;
}

.list_doctors .one_doctor {
  float: left;
  width: 20%;
  margin: 0 40px 20px 0;
}
.one_doctor img {
  margin-top: 0;
  max-height: 299px;
  overflow: hidden;
  border-bottom: 4px solid #0c8084;
}
.one_doctor img {
  min-width: 100%;
}
.name {
  font-size: 19px;
  font-family: Gotham;
  margin: 0;
}
.text {
  margin-top: 5px;
}