.wrap{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    
}
.header{
    margin:  20px;
    padding: 10px;
}
.logoslog{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    height: 80px;

}

.slogan{
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: flex-end;
}
.nav{
    background-color: #e5efef;
    padding: 20px;
    display: flex;    
    justify-content: space-evenly;
  
}
.nav a{
    color: black;
    text-decoration: none;
}
.nav a:hover{
    color: #0c8084;
}
.address{

   font-size: 14px;
}
.address a{
    text-decoration: none;
    color: black;
}
.footer{
    background: #0c8084;
    color: white;
    margin-top: 20px;
    padding: 10px;
}
.cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 17px;
}
.contacts{
    text-align: center;
}
#iconV {
    font-size: 25px;
}
#iconOd {
    font-size: 25px;
}
#iconWhats{
    color: green;
    font-size: 25px;
}
.addressInFoot a{
    text-decoration: none;
    color: white;
}
.createBy{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
